USE [Proyecto]
GO
/****** Object:  Table [dbo].[AUDITORIA]    Script Date: 17/06/2019 12:01:28 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AUDITORIA](
	[AudFech] [datetime] NULL,
	[AudUser] [varchar](50) NULL,
	[AudTabla] [varchar](50) NULL,
	[AudTrans] [varchar](50) NULL,
	[AudDesc] [text] NULL,
	[AudVerExe] [varchar](50) NULL,
	[AudFecExe] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONEXIONES]    Script Date: 17/06/2019 12:01:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONEXIONES](
	[NU_NUME_CONE] [int] IDENTITY(1,1) NOT NULL,
	[USUARIO] [varchar](1) NULL,
	[FECHA] [datetime] NULL,
	[NOMBRE_PC] [varchar](1) NULL,
	[FECHA_DESCONEXION] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE]    Script Date: 17/06/2019 12:01:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE](
	[NU_AUTO_DETA] [bigint] IDENTITY(1,1) NOT NULL,
	[NU_AUTECNA_DETA] [bigint] NOT NULL,
	[TX_CODDOC_DETA] [varchar](10) NOT NULL,
	[IM_IMAGEN_DETA] [varbinary](max) NULL,
	[TX_RUTA_DETA] [varchar](500) NOT NULL,
	[TC_NOMDOC_DETA] [varchar](100) NOT NULL,
	[FE_SUBIDA_DETA] [datetime] NOT NULL,
	[FE_VERIFI_DETA] [datetime] NULL,
	[NU_ESTADO_DETA] [int] NOT NULL,
	[TX_OBSER_DETA] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[NU_AUTO_DETA] ASC,
	[NU_AUTECNA_DETA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOCUMENTO]    Script Date: 17/06/2019 12:01:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENTO](
	[TX_CODDOC_DOCU] [varchar](10) NOT NULL,
	[TX_DESC_DOCU] [varchar](100) NULL,
	[TX_RUTA_DOCU] [varchar](500) NULL,
	[TC_CODGRP_DOCU] [varchar](10) NULL,
	[NU_PRIORI_DOCU] [bit] NULL,
	[NU_FEVEN_DOCU] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TX_CODDOC_DOCU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENCABEZADO]    Script Date: 17/06/2019 12:01:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENCABEZADO](
	[NU_AUTO_ENCA] [bigint] IDENTITY(1,1) NOT NULL,
	[TX_CODUSU_ENCA] [varchar](50) NOT NULL,
	[TX_GRUDOC_ENCA] [varchar](10) NOT NULL,
	[FE_INGRE_ENCA] [datetime] NOT NULL,
	[FE_VERIFI_ENCA] [datetime] NULL,
	[NU_ESTADO_ENCA] [int] NOT NULL,
	[TX_CODVER_ENCA] [varchar](50) NULL,
	[NU_TIPO_ENCA] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TX_CODUSU_ENCA] ASC,
	[TX_GRUDOC_ENCA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRUPO_DOCU]    Script Date: 17/06/2019 12:01:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRUPO_DOCU](
	[NU_CODGRUP_GRDO] [varchar](10) NOT NULL,
	[TX_DESC_GRDO] [varchar](100) NULL,
	[NU_TIPO_GRDO] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NU_CODGRUP_GRDO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERFILES]    Script Date: 17/06/2019 12:01:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERFILES](
	[NU_ID_PERF] [int] IDENTITY(1,1) NOT NULL,
	[TX_CODIGO_PERF] [varchar](50) NOT NULL,
	[TX_CONTRA_PERF] [varchar](50) NULL,
	[TX_DOCUSU_PERF] [varchar](50) NULL,
	[NU_TIPO_PERF] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TX_CODIGO_PERF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 17/06/2019 12:01:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[NU_ID_USU] [int] IDENTITY(1,1) NOT NULL,
	[NU_TPDOC_USU] [int] NOT NULL,
	[TX_DOCU_USU] [varchar](50) NOT NULL,
	[TX_NOMBRE_USU] [varchar](50) NOT NULL,
	[TX_APE_USU] [varchar](50) NOT NULL,
	[NU_TEL_USU] [float] NULL,
	[TX_EMAIL_USU] [varchar](100) NULL,
	[TX_DIR_USU] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TX_DOCU_USU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT ((0)) FOR [NU_TEL_USU]
GO
ALTER TABLE [dbo].[DETALLE]  WITH CHECK ADD FOREIGN KEY([TX_CODDOC_DETA])
REFERENCES [dbo].[DOCUMENTO] ([TX_CODDOC_DOCU])
GO
ALTER TABLE [dbo].[DOCUMENTO]  WITH CHECK ADD FOREIGN KEY([TC_CODGRP_DOCU])
REFERENCES [dbo].[GRUPO_DOCU] ([NU_CODGRUP_GRDO])
GO
ALTER TABLE [dbo].[ENCABEZADO]  WITH CHECK ADD FOREIGN KEY([TX_CODUSU_ENCA])
REFERENCES [dbo].[USUARIOS] ([TX_DOCU_USU])
GO
ALTER TABLE [dbo].[ENCABEZADO]  WITH CHECK ADD FOREIGN KEY([TX_CODVER_ENCA])
REFERENCES [dbo].[USUARIOS] ([TX_DOCU_USU])
GO
ALTER TABLE [dbo].[ENCABEZADO]  WITH CHECK ADD FOREIGN KEY([TX_GRUDOC_ENCA])
REFERENCES [dbo].[GRUPO_DOCU] ([NU_CODGRUP_GRDO])
GO
/****** Object:  StoredProcedure [dbo].[Cons_audi]    Script Date: 17/06/2019 12:01:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Cons_audi] @Operacion AS INT=1, 
                                  @Usuario   AS VARCHAR(50)='', 
                                  @Tabla     AS VARCHAR(50)='', 
                                  @Fecha     AS DATE=NULL 
AS 
  BEGIN 
      IF @operacion = 0 
        BEGIN 
            SELECT audfech, 
                   auduser, 
                   audtabla, 
                   audtrans, 
                   auddesc, 
                   audverexe, 
                   audfecexe 
            FROM   AUDITORIA 
            WHERE  auduser = Iif(@Usuario = '', auduser, @Usuario) 
                   AND audtabla = Iif(@Tabla = '', audtabla, @Tabla) 
                   AND audfech <= @Fecha 
            ORDER  BY audfech DESC 
        END 

      IF @operacion = 1 
        BEGIN 
            SELECT DISTINCT auduser 
            FROM   AUDITORIA 
        END 

      IF @operacion = 2 
        BEGIN 
            SELECT DISTINCT audtabla 
            FROM   AUDITORIA 
            WHERE  auduser = @Usuario 
        END 
  END 
GO
/****** Object:  StoredProcedure [dbo].[LOGIN_USUS]    Script Date: 17/06/2019 12:01:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LOGIN_USUS] @COD_USU AS VARCHAR(50), @PASSWORD AS VARCHAR(50), @OPERACION AS INT
AS BEGIN
   IF @OPERACION = 0 
   BEGIN
      SELECT NU_ID_PERF,TX_CODIGO_PERF,TX_NOMBRE_USU,TX_CONTRA_PERF,TX_NOMBRE_USU,TX_APE_USU  FROM PERFILES LEFT JOIN USUARIOS ON TX_DOCUSU_PERF=TX_DOCU_USU
	  WHERE TX_CODIGO_PERF=@COD_USU AND TX_CONTRA_PERF=@PASSWORD 
   END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BUSCAR_USUARIOS]    Script Date: 17/06/2019 12:01:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proCEDURE [dbo].[SP_BUSCAR_USUARIOS] @DOCU AS VARCHAR(50),@OPERACION AS INT
AS BEGIN

   IF @OPERACION=0
   BEGIN
      SELECT TX_DOCU_USU ,TX_NOMBRE_USU+ ' ' + TX_APE_USU NOMBRES FROM USUARIOS
   END
   IF @OPERACION=1
   BEGIN
      SELECT TX_DOCU_USU ,TX_NOMBRE_USU+ ' ' + TX_APE_USU NOMBRES FROM USUARIOS WHERE TX_DOCU_USU like @DOCU + '%'
   END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CONS_PERFIL]    Script Date: 17/06/2019 12:01:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_CONS_PERFIL] 
    @COD_DOC VARCHAR(50)='',
	@CONTRA VARCHAR(50)='',
	@DOCU VARCHAR(50)='',
	@OPERACION INT = 0,
	@TIPO INT=0,
	@Resultado TINYINT OUTPUT

AS BEGIN
BEGIN TRANSACTION
	--INSERTA, ACTUALIZA O ELIMINA

	--INSERTA
	IF @OPERACION =0 
	BEGIN
		SELECT  TX_CODIGO_PERF,TX_CONTRA_PERF,TX_DOCUSU_PERF,NU_TIPO_PERF
		FROM PERFILES WHERE TX_CODIGO_PERF=@COD_DOC

	END
	IF @OPERACION =1
	BEGIN
	  if exists(SELECT * FROM PERFILES WHERE TX_CODIGO_PERF=@COD_DOC) 
	  begin
		IF @@ERROR<>0 GOTO HayError
		SET @Resultado=1	
		SELECT @Resultado
      end
	  else begin
	    SET @Resultado=0	
		SELECT @Resultado
	  end
	END
COMMIT TRANSACTION
END
HayError:
	SET @Resultado=0	
	SELECT @Resultado


	
GO
/****** Object:  StoredProcedure [dbo].[SP_CONS_USU]    Script Date: 17/06/2019 12:01:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CONS_USU] @DOC INT,@OPERACION INT, @RESULTADO INT
AS BEGIN
BEGIN TRANSACTION
	--CONSULTA USUARIO

	--CONSULTA
	IF @OPERACION =0 
	BEGIN
		SELECT  NU_ID_USU,NU_TPDOC_USU,TX_DOCU_USU,TX_NOMBRE_USU,TX_APE_USU,NU_TEL_USU,TX_EMAIL_USU,TX_DIR_USU
		FROM USUARIOS WHERE TX_DOCU_USU=@DOC

	END
	--VERIFICA EXISTENCIA DEL USUARIO
	IF @OPERACION =1
	BEGIN
	  if exists(SELECT * FROM USUARIOS WHERE TX_DOCU_USU=@DOC) 
	  begin
		IF @@ERROR<>0 GOTO HayError
		SET @Resultado=1	
		SELECT @Resultado
      end
	  else begin
	    SET @Resultado=0	
		SELECT @Resultado
	  end
	END
COMMIT TRANSACTION
END
HayError:
	SET @Resultado=0	
	SELECT @Resultado
GO
/****** Object:  StoredProcedure [dbo].[SP_IUD_PERFILES]    Script Date: 17/06/2019 12:01:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_IUD_PERFILES] 
	@COD_DOC VARCHAR(50)='',
	@CONTRA VARCHAR(50)='',
	@DOCU VARCHAR(50)='',
	@OPERACION INT = 0,
	@TIPO INT=0,
	@Resultado TINYINT OUTPUT
AS BEGIN
	--INSERTA, ACTUALIZA O ELIMINA

	--INSERTA
	IF @OPERACION =0 
	BEGIN
		INSERT INTO PERFILES (TX_CODIGO_PERF,TX_CONTRA_PERF,TX_DOCUSU_PERF,NU_TIPO_PERF)
		VALUES (@COD_DOC,@CONTRA ,@DOCU,@TIPO)

	END
	
	--ELIMINA
	IF @OPERACION =1
	BEGIN
	   DELETE PERFILES WHERE  TX_CODIGO_PERF =@COD_DOC
	END
	--ACTUALIZA
	IF @OPERACION =2 
	BEGIN
	   UPDATE PERFILES SET TX_CODIGO_PERF=@COD_DOC,TX_CONTRA_PERF=@CONTRA,TX_DOCUSU_PERF=@DOCU,NU_TIPO_PERF=@TIPO 
	   WHERE TX_CODIGO_PERF=@COD_DOC
	END

	IF @@ERROR<>0 GOTO HayError
	
	SET @Resultado=1	
	SELECT @Resultado

END
HayError:
	SET @Resultado=0	
	SELECT @Resultado

GO
/****** Object:  StoredProcedure [dbo].[SP_IUD_USUARIOS]    Script Date: 17/06/2019 12:01:29 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_IUD_USUARIOS]
	@DOC VARCHAR(50),
	@TIPO_DOC INT=0,
	@NOM VARCHAR(50)='',
	@APE VARCHAR(50)='',
	@TEL INT=0,
	@EMAIL VARCHAR(50)='',
	@DIR VARCHAR(50)='',
	@OPERACION INT = 0,
	@Resultado TINYINT OUTPUT
AS BEGIN
	--INSERTA, ACTUALIZA O ELIMINA

	--INSERTA
	IF @OPERACION =0 
	BEGIN
		INSERT INTO USUARIOS(NU_TPDOC_USU,TX_DOCU_USU,TX_NOMBRE_USU,TX_APE_USU,NU_TEL_USU,TX_EMAIL_USU,TX_DIR_USU)
		VALUES (@TIPO_DOC,@DOC,@NOM,@APE,@TEL,@EMAIL,@DIR)

	END
	
	--ELIMINA
	IF @OPERACION =1
	BEGIN
	   DELETE USUARIOS WHERE  TX_DOCU_USU =@DOC
	END
	--ACTUALIZA
	IF @OPERACION =2 
	BEGIN
	   UPDATE USUARIOS SET NU_TPDOC_USU=@TIPO_DOC,TX_NOMBRE_USU=@NOM ,TX_APE_USU=@APE,NU_TEL_USU=@TEL , TX_EMAIL_USU=@EMAIL ,TX_DIR_USU=@DIR 
	   WHERE TX_DOCU_USU=@DOC
	   
	END

	IF @@ERROR<>0 GOTO HayError
	
	SET @Resultado=1	
	SELECT @Resultado

END
HayError:
	SET @Resultado=0	
	SELECT @Resultado

GO
